.catalog {

}

.catalog__title {
  margin: 54px 0 60px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.catalog__foto-day {

}

.catalog__list {
  margin: 0;
  padding: 0;
}

.catalog__item {
  list-style-type: none;
}
