.contacts {
  font-style: normal;
  font-size: 24px;
}

.contacts__questions {
  display: block;
  margin-bottom: 34px;
  font-weight: 300;
  line-height: 29px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 33px;
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 38px;
    font-size: 50px;
    line-height: 68px;
  }
}

.contacts__text {
  margin: 0 auto;
  margin-bottom: 18px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 13px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-left: 47px;

    &:nth-child(2) {
      margin-right: 30px;
    }

    &:last-child {
      margin-left: 62px;
    }
  }
}

.contacts__text--tablet-call {
  @media (min-width: @tablet-width) {
    padding-right: 9px;
  }
}

.contacts__text--tablet-email {
  @media (min-width: @tablet-width) {
    padding-left: 9px;
  }
}

.contacts__text--center {
  @media (min-width: @tablet-width) {
    grid-column: 1 / -1;
  }
}

.contacts__text--order-desktop {
  @media (min-width: @desktop-width) {
    order: 2;
  }
}

.contacts__data {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @pink;
  text-decoration: none;

  &:hover {
    color: @darkblue;
    text-decoration: underline;
  }

  &:active {
    color: @darkblue;
    text-decoration: none;
    opacity: 0.3;
  }

  @media (min-width: @desktop-width) {
    display: inline-block;
    margin-top: 22px;
  }
}

.contacts__map-inner {
  display: block;
  width: 100%;
  min-width: 320px;
  background-image: url("../img/footer/map-mobile.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/footer/map-mobile@2x.png");
  }

  @media (min-width: @tablet-width) {
    min-width: 660px;
    height: 374px;
    background-image: url("../img/footer/map-tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/footer/map-tablet@2x.png");
    }
  }

  @media (min-width: @desktop-width) {
    min-width: 1070px;
    height: 502px;
    background-image: url("../img/footer/map-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/footer/map-desktop@2x.png");
    }
  }
}

.contacts__map {
  position: relative;
}

.contacts__map::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 33px;
  background-color: #ffffff;
  clip-path: polygon(100% 0, 50% 100%, 0 0);

  @media (min-width: @tablet-width) {
    height: 68px;
  }

  @media (min-width: @desktop-width) {
    height: 102px;
  }
}


.contacts__map-image {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.contacts__map-image--nojs {
  display: block;
}
