.form {
  display: flex;
  flex-direction: column;
  min-width: 320px;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 52px 72px;
  }
}

.form__wrapper {
  width: 280px;
  margin: 0 auto 5px;

  @media (min-width: @tablet-width) {
    width: 620px;
    order: -5;
  }

  @media (min-width: @desktop-width) {
    width: 434px;
    margin: 0;
    padding-top: 19px;
  }
}

.form__group {
  min-width: 280px;
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: @tablet-width) {
    display: flex;
    margin-bottom: 35px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.form__group--desktop {
  @media (min-width: @desktop-width) {
    margin-bottom: 56px;

    &:nth-child(2) {
      margin-bottom: 52px;
    }

    &:last-child {
      margin: 0;
    }
  }
}

.form__group--tablet {
  @media (min-width: @tablet-width) {
    margin-top: 24px;
    margin-bottom: 65px;
  }
}

.form__group--background {
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
  }
}

.form__group--app-tablet {
  @media (min-width: @tablet-width) {
    order: -3;
  }
}

.form__group--border {
  @media (min-width: @tablet-width) {
    border: 2px solid #e5e5e5;
    border-radius: 1px;
  }
}

.form__group--position {
  margin: 33px auto 24px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    margin: 25px 0 57px;
    order: -1;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }
}

.form__group--information {
  display: flex;
  flex-direction: column;

  &::before {
    content: none;
    position: absolute;
    z-index: 3;
    top: 2px;
    right: 2px;
    width: 58px;
    height: 58px;
    background-color: #e5e5e5;
    background-image: url("../img/form/phone-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:last-child::before {
    background-image: url("../img/form/mail-icon.svg");
  }

  @media (min-width: @tablet-width) {
    position: relative;
    flex-direction: column-reverse;
    width: 498px;
    margin: 36px 59px 19px;

    &:last-child {
      margin-top: 0;
    }

    &::before {
      content: "";
    }
  }

  @media (min-width: @desktop-width) {
    margin: 28px 14px 0 58px;

    &:last-child {
      margin-right: 60px;
    }

    &:last-child::before {
      top: 30px;
    }
  }
}

.form__group--email {
  margin-top: 20px;
}

.form__group--desktop-position {
  @media (min-width: @desktop-width) {
    grid-column: 1 / -1;
  }
}

.form__group--desktop-emotion {
  @media (min-width: @desktop-width) {
    margin-top: 0;
    margin-bottom: 13px;
  }
}

.form__text {
  display: block;
  margin-bottom: 4px;
  padding: 0 23px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: @pink;

  @media (min-width: @tablet-width) {
    padding: 19px 19px 0 0;
    margin: 0;
  }
}

.form__text--desktop {
  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    padding-left: 0;
  }
}

.form__text--information {
  @media (min-width: @tablet-width) {
    padding: 10px 17px;
  }

  @media (min-width: @desktop-width) {
    padding: 11px 19px;
  }
}

.form__field {
  width: 280px;
  min-height: 62px;
  margin-bottom: 19px;
  padding: 0 20px 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  color: @darkblue;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  box-sizing: border-box;

  &:hover {
    border-color: @darkblue;
  }

  &:active {
    border-color: @pink;
  }

  @media (min-width: @tablet-width) {
    position: relative;
    width: 100%;
  }
}

.form__field--desktop {
  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.form__field::placeholder {
  color: @darkblue;
}

.form__field--position {
  display: block;
  min-height: 200px;
  margin: 56px auto 48px;
  padding: 13px 20px;
  resize: none;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    min-height: 191px;
    margin: 38px 59px 53px;
  }

  @media (min-width: @desktop-width) {
    margin: 27px 59px 43px;
    min-height: 128px;
  }
}

.form__field--tablet {
  margin-bottom: 0;
}

.form__title {
  position: relative;
  top: 58px;
  left: 0;
  width: 220px;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: @pink;
  border: none;

  @media (min-width: @tablet-width) {
    position: static;
    width: auto;
    padding: 0 32px;
  }

  @media (min-width: @desktop-width) {
    line-height: 30px;
  }
}

.form__title--emotion {
  top: 39px;
}

.form__title--information {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.form__list {
  width: 280px;
  margin: 96px auto 46px;
  padding: 0;

  @media (min-width: @tablet-width) {
    width: 620px;
    margin: 49px 60px 51px 60px;
  }

  @media (min-width: @desktop-width) {
    width: 430px;
  }
}

.form__list--radio {
  margin: 93px auto 43px;

  @media (min-width: @tablet-width) {
    margin: 49px 60px 52px;
  }
}

.form__list--tablet {
  @media (min-width: @tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 820px;
    height: 121px;
    margin-top: 43px;
    margin-bottom: 50px;
  }
}

.form__list--desktop {
  @media (min-width: @desktop-width) {
    margin: 43px 60px 51px 73px;
  }
}

.form__item {
  margin-bottom: 47px;
  list-style-type: none;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__item--tablet {
  margin-bottom: 45px;
}

.form__item--radio {
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    margin-bottom: 38px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 40px;
  }
}

.form__item--reckless-actions {
  @media (min-width: @desktop-width) {
    margin-right: 58px;

    &:nth-child(2n) {
      margin-bottom: 0;
    }
  }
}

.form__control {
  position: relative;
  display: block;
  min-height: 36px;
  padding-left: 57px;
}

.form__control--radio {
  padding-left: 67px;

  @media (min-width: @tablet-width) {
    padding-left: 58px;
  }
}

.form__control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 1px;

  @media (min-width: @tablet-width) {
    top: -5px;
    left: -1px;
  }
}

.form__control-input[type="checkbox"]:checked + .form__control-mark::before {
  position: absolute;
  content: "";
  top: 9px;
  left: 7px;
  width: 22px;
  height: 16px;
  background-image: url("../img/form/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__control-input[type="checkbox"]:hover + .form__control-mark {
  border-color: @darkblue;
}

.form__control-input[type="checkbox"]:active + .form__control-mark {
  border-color: @pink;
}

.form__control-input[type="checkbox"]:focus + .form__control-mark {
  border-color: @darkblue;
}

.form__control-input[type="radio"] + .form__control-mark {
  border-radius: 50%;
}

.form__control-input[type="radio"]:checked + .form__control-mark::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 10px;
  width: 15px;
  height: 15px;
  background-color: @pink;
  border-radius: 50%;
}

.form__control-input[type="radio"]:hover + .form__control-mark {
  border-color: @darkblue;
}

.form__control-input[type="radio"]:active + .form__control-mark {
  border-color: @pink;
}

.form__control-input[type="radio"]:focus + .form__control-mark {
  border-color: @darkblue;
}

.form__control-label {
  display: block;
  padding-top: 5px;
  padding-left: 2px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.form__button {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1 / -1;
  }
}

.form__send {
  display: block;
  width: 280px;
  min-height: 62px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background: #2aab6d;
  border: 2px solid #2aab6d;
  border-radius: 1px;
  cursor: pointer;

  &:hover {
    background: #1c9b5e;
    border: 2px solid #1c9b5e;
  }

  &:active {
    color: fade(#ffffff, 30%);
  }

  &:disabled {
    background: #e5e5e5;
    border: 2px solid #e5e5e5;
  }

  @media (min-width: @tablet-width) {
    width: 300px;
  }
}

.form__note {
  position: relative;
  margin: 35px auto 20px;
  padding-left: 10px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;

  &::after {
    content: "*";
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 7px;
    color: @pink;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.form__note-hidden {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline;
  }
}
