.information {
  min-width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 46px;
  background-color: #f2f2f2;
  // background: linear-gradient(174deg, rgba(255, 255, 255, 1) 27%, rgba(242, 242, 242, 1) 27%);

  @media (min-width: @tablet-width) {
    min-width: 620px;
  }

  @media (min-width: @desktop-width) {
    min-width: 940px;
    padding-left: 65px;
    padding-right: 65px;
  }
}

.information__title {
  margin-bottom: 70px;
}

.information__text {
  margin: 0;
  padding-bottom: 29px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
  }
}

.information__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
  }
}

.information__list {
  margin: 0 auto;
  padding: 0;

  @media (min-width: @tablet-width) {

  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.information__item {
  margin-bottom: 43px;
  padding-right: 20px;
  list-style-type: none;
  text-align: center;
}

.information__headline {
  margin: 0;
  margin-bottom: 24px;
  font-size: 18px;
  color: #000000;
}

.information__discription {
  margin: 0;
  font-size: 14px;
}

.information__list-image {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    order: -1;
  }

  @media (min-width: @desktop-width) {

  }
}

.information__item-image {
  list-style-type: none;
}

.information__item-image--close {
  display: none;

  @media (min-width: @tablet-width) {

  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}
