.intro-wrapper {
  padding-top: 29px;
}

.intro-wrapper__heading {
  margin: 0;
  padding-bottom: 34px;
  color: #ffffff;
  align-items: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}
