.like-wrapper {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 10px 25px 17px;
  box-sizing: border-box;
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    min-height: 155px;
    padding: 0 24px 25px 30px;
    margin: 0;
  }
}

.like-wrapper--tablet {
  @media (min-width: @tablet-width) {
    position: relative;
    display: block;
    width: 620px;
    height: 125px;
    margin: 0 auto 50px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.like-wrapper--tablet-item {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.like-wrapper__author {
  padding-top: 23px;
}

.like-wrapper__author-name {
  font-weight: 700;
  font-size: 14px;
}

.like-wrapper__author-foto {
  padding-top: 18px;
}

.like-wrapper__time-ago {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.like-wrapper__desc {
  margin: 0 0 18px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.like-wrapper__desc--teblet {
  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.like-wrapper__text {
  font-size: 14px;

  @media (min-width: @tablet-width) {
    br {
      display: none;
    }
  }
}

.like-wrapper__like {
  position: relative;
  display: flex;

  @media (min-width: @tablet-width) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.like-wrapper__like--tablet {
  @media (min-width: @tablet-width) {
    position: absolute;
    top: 22px;
    right: 35px;
  }
}

.like-wrapper__button-heart {
  width: 13px;
  height: 12px;
  padding: 0;
  align-self: center;
  border: none;
  background-image: url("/img/catalog/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.like-wrapper__number-like {
  margin-left: 18px;
  font-size: 12px;
  color: @pink;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-left: 0;
    padding-right: 30px;
  }
}
