.like-wrapper {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 10px 25px 17px;
  box-sizing: border-box;
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    width: 300px;
    padding: 0 24px 25px 30px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {

  }
}

.like-wrapper--tablet {
  @media (min-width: @tablet-width) {
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.like-wrapper__author {

}

.like-wrapper__author-name {
  font-weight: 700;
  font-size: 14px;
}

.like-wrapper__time-ago {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.like-wrapper__desc {
  margin: 0 0 23px;
}

.like-wrapper__text {
  font-size: 14px;
}

.like-wrapper__like {

}

.like-wrapper__number-like {
  font-size: 12px;
  color: @pink;
}
