.main-header {
  padding-bottom: 38px;
  background-image: url("/img/header/back-mobile.png");
  background-repeat: no-repeat;
  background-color: #1d2631;
}

.main-header__wrapper {
  height: 66px;
  display: flex;
  justify-content: space-between;
  background-color: fade(#000000, 30%);
}

.main-header__link-logo {
  display: block;
  margin: 21px 20px;
  text-align: center;
}

.main-header__logo-glasses {
  display: none;
}

.main-header__logo-name {

}
