.main-form {
  min-width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 620px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    padding: 0 65px;
  }
}

.main-form__title {
  width: 280px;
  margin: 44px auto 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  clip-path: inset(0 0 18% 0);

  @media (min-width: @tablet-width) {
    width: 490px;
    margin-top: 92px;
    margin-bottom: 71px;
    font-size: 18px;
    clip-path: none;
  }

  @media (min-width: @desktop-width) {
    width: 760px;
    margin-bottom: 66px;

    br {
      display: none;
    }
  }
}
