.main-footer {
  min-width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    min-width: 660px;
  }

  @media (min-width: @desktop-width) {
    min-width: 1070px;
  }
}

.main-footer__contacts {
  margin-top: 47px;
}

.main-footer__iner {
  width: 280px;
  margin: 0 auto 40px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 620px;
    margin-bottom: 26px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    width: 940px;
    padding: 0 65px;
  }
}

.main-footer__link-logo {
  display: flex;
  align-items: flex-end;
  width: 146px;
  margin: 0 67px 38px 67px;
  text-decoration: none;

  &:hover .main-footer__logo-name {
    fill: @pink;
  }

  &:hover .main-footer__logo-name-desktop {
    color: @darkblue;
  }

  &:active .main-footer__logo-glasses {
    fill: @pink;
    opacity: 0.3;
  }

  &:active .main-footer__logo-name {
    fill: @darkblue;
    opacity: 0.3;
    color: @pink;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.main-footer__logo-glasses {
  fill: @pink;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-footer__logo-name {
  padding-left: 8px;
  fill: @darkblue;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-footer__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 40px 0;

  @media (min-width: @tablet-width) {
    width: 620px;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    padding: 40px 65px;
  }
}

.main-footer__logo-glasses-desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    color: @darkblue;
  }
}

.main-footer__logo-name-desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    color: @pink;
  }
}
