.price {
  padding-top: 127px;
  padding-bottom: 49px;
  background: linear-gradient(175deg, rgba(255, 255, 255, 1) 8%, rgba(242, 242, 242, 1) 8%);
}

.price__wrapper {

}

.price__table {
  margin: 0;
  padding: 0;
}

.price__item {
  list-style-type: none;
}

.price__row {
  width: 615px;
  margin: 0;
}

.price__title {
  padding: 0;
  background-color: @darkblue;
  border: 2px solid @darkblue;
  border-radius: 1px 0 0 0;
}

.price__title--hidden {
  display: none;
  background: transparent;
  border: none;

  @media (min-width: @tablet-width) {
    display: table-cell;
  }
}

.price__title-name {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}

.price__title-value {
  margin: 0;
  font-weight: 300;
  line-height: 30px;
  color: #ffffff;
}

.price__function {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: @darkblue;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 1px 0 0 0;
}

.price__function--open {
  display: none;

  @media (min-width: @tablet-width) {
    display: table-cell;
    width: 152px;
    height: 45px;
    background-image: url("/img/main/check-mark.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: @desktop-width) {

  }
}

.price__function--close {
  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {

  }
}


.price__function--hidden {
  display: none;

  @media (min-width: @tablet-width) {
    display: table-cell;
  }
}

.price__toggles {
  margin: 0;
  margin-top: 45px;
}
