.research {
  width: 620px;
  display: none;
  padding: 54px 20px 59px 20px;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    padding: 54px 65px 59px 65px;
  }
}

.research__wrapper {
  display: flex;
}

.research__icon {

}

.research__iner {

}

.research__title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.research__text {
  margin: 0;
  font-size: 14px;
}

.research__link {
  display: block;
  font-size: 14px;
  color: @pink;
  text-decoration-line: underline;
}
