.reviews {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    width: 620px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    padding: 0 65px;
  }
}

.reviews__wrapper {
  @media (min-width: @desktop-width) {
    padding-top: 162px;
    background-image: url("/img/main/quotation-marks.svg");
    background-repeat: no-repeat;
    background-position: 50% 20%;
  }
}

.reviews__list {
  text-align: center;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.reviews__about-autor {
  @media (min-width: @tablet-width) {
    order: 2;
  }
}

.reviews__author-name {
  display: block;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  color: #000000;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    font-size: 24px;
  }
}

.reviews__personal-data {
  display: none;
  margin: 0;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    display: block;
    margin-bottom: 49px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.reviews__text {
  margin: 0;
  margin-top: 31px;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    width: 690px;
    padding-left: 126px;
  }
}

.reviews__toggles {
  margin-top: 44px;
}
