.reviews {
  width: 280px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    width: 620px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    padding: 0 65px;
  }
}

.reviews__wrapper {

}

.reviews__list {
  text-align: center;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.reviews__about-autor {
  @media (min-width: @tablet-width) {
    order: 2;
  }

  @media (min-width: @desktop-width) {

  }
}

.reviews__author-name {
  display: block;
  margin-top: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
}

.reviews__personal-data {
  display: none;
  margin: 0;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {

  }
}

.reviews__text {
  margin: 0;
  margin-top: 31px;
  font-size: 14px;
  line-height: 30px;
}

.reviews__toggles {
  margin: 0;
  margin-top: 44px;
}
